@charset "utf-8";
/* CSS Document */

/*============ Default Css Start ============*/


html,
body { 
	min-height:100%; 
}
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {	
	font-family: "noto-sans",sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color:#314462;
	line-height: 1.722222;
	background:#FFF;
	margin:0;
	padding:0;
}
li, ul, ol { 
	list-style:none; 
	margin:0;
	padding:0;
}
a, a img {
	text-decoration:none;
	border:0;
	outline:none !important;
}
a,
a:hover { color: inherit; }
a, button, input[type=submit] {
	outline:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus {
	text-decoration:none;
	outline:none;
}
:focus {
	outline:none;
}
img,
svg {
	max-width:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-style:normal;
	font-weight:600;
	margin:0;
	padding:0;
  	color: #000000;
}

h1 { font-size: 50px;line-height: 1.36; padding: 0 0 40px; margin: 0; color: #314462; font-weight: 400; }
h2 { font-size: 34px;line-height: 1.35294; color: #314462; padding: 0 0 25px; margin: 0; font-weight: 500; }
h3 { font-size: 28px;line-height: 1.35714; font-weight: 500; color: #314462; margin: 0; padding: 0 0 35px 0; }
h4 { font-size: 24px;line-height: 1.375; font-weight: 500; color: #314462; padding: 0 0 23px 0; margin: 0; }
h5 { font-size: 22px;line-height: 1.363636; font-weight: 400; color: #F39200; padding: 0 0 15px 0; margin: 0; }
h6 { font-weight: 600; font-size: 20px;line-height: 1.2; color: #000000; margin: 0; padding: 0 0 24px 0; text-transform: uppercase; }

input, textarea { 
	outline:none !important; 
}
::-webkit-input-placeholder {
	color:inherit; 
	opacity:1;
}
::-moz-placeholder {
	color:inherit;
	opacity:1;
}
:-ms-input-placeholder {
	color:inherit; 
	opacity:1;
}
:-moz-placeholder {
	color:inherit;
	opacity:1;
}

.wrapper_main {
	position:relative;
	width:100%;
	min-height:100%;
	overflow:hidden;
	padding-top: 175px;
}

/*============ Default Css End ============*/

/*============ Bootstrap Class Overwriter CSS Code Start ============*/

.container { padding-right: 15px; padding-left: 15px; width: 100%; margin: 0 auto;}
.container_flude { padding-right: 15px; padding-left: 15px; width: 100%; margin: 0 auto;}
.big-container {  width: 100%; margin: 0 auto;}

@media (min-width:576px){
	.container_flude ,
	.container {
		max-width:540px;
	}
}
@media (min-width:768px){
	.container_flude ,
	.container {
		max-width:750px;
	}
}
@media (min-width:992px){
	.container_flude ,
	.container{
		max-width:970px;
	}
}
@media (min-width:1300px){
	.container_flude ,
	.container {
		max-width:1231px;
	}  
}
@media (min-width:1400px){
	.container_flude {
		max-width:1360px;
	}  
}  
@media (min-width:1600px){
	.gallery_sec .container,
	.blog_sec .container {
		max-width:1430px;
	}  
}
@media (min-width:1800px){
  .container_flude {
    max-width:1771px;
  }  
}






/*============ Common Style Start ============*/



/*-Elements-Style Start-*/

p { font-family: "noto-sans",sans-serif;font-weight: 300;font-style: normal;font-size: 18px;color:#314462;line-height: 1.722222; margin:0px; padding:0px;}
strong, b { font-weight: normal;}
p strong { font-weight: 600; }

/*-Elements-Style End-*/


.btnbox { display: flex; }


/*============ Common Style End ============*/


/*============ Header Style Start ============*/





.menu-btn {position: relative; display: none;width:20px; height:14px; }
.menu-btn:after { content: ''; border: solid 2px #FFFFFF; height: 44px; width: 44px; border-radius: 50%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50% , -50%); -moz-transform: translate(-50% , -50%); -ms-transform: translate(-50% , -50%); transform: translate(-50% , -50%); }
.menu-btn span {display: block; width:100%; height:2px; position:relative; top:6px; background:#ffffff; border-radius:0px;}
.menu-btn span:before,
.menu-btn span:after { content:""; width:100%; height:2px; background:#ffffff; border-radius:0px; position:absolute; left:0px; z-index:1;-webkit-transition-duration:.3s, .3s, .3s; transition-duration:.3s, .3s, .3s; -webkit-transition-delay:.15s, 0s, 0s; transition-delay:.15s, 0s, 0s;}
.menu-btn span:before { top:-6px;-webkit-transition-property:top, transform ,width ; transition-property:top, transform, width; }
.menu-btn span:after { bottom:-6px;-webkit-transition-property:bottom, transform ,width; transition-property:bottom, transform,width ; }
.menu-btn.active span { background:none !important;}
.menu-btn.active span:before,
.menu-btn.active span:after { -webkit-transition-delay:0s, .15s,0s; transition-delay:0s, .2s,0s; width: 34px; }
.menu-btn.active span:before { top:0px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.menu-btn.active span:after { bottom:0px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.menu-btn.active:after { opacity: 0; visibility: hidden; }




body.open-nav { overflow: hidden; }

.header_main.fixed .logo a img { height: 89px; }
.header_main.fixed { padding: 14px 0; }

.header_main {position: fixed; top: 0; left: 0; width: 100%; z-index: 99; padding: 17px 0; background-color: #fff; -webkit-transition: padding 0.3s ease-in-out; -moz-transition: padding 0.3s ease-in-out; -ms-transition: padding 0.3s ease-in-out; transition: padding 0.3s ease-in-out; background-color: #314462; }
.header_inner { display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: space-between; width: 100%; }
.header_main.fixed { -webkit-box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%); -moz-box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%); -ms-box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%); box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%); }
/* .header_main.fixed .navigation_wrap .navigation_bar{background-color: #000000; height: 150px; } */
.header_main .navigation_wrap {position: relative;}
/* .header_main .navigation_wrap .navigation_bar {position: fixed; width: 100%; left: 0; padding: 22px 0 0; z-index: 1;  height: 185px; transition: all ease-in-out 0.3s;} */
.logo a { display: -ms-flexbox; display: flex; }
.logo a img { height: 141px; width: auto; -webkit-transition: height 0.3s ease-in-out; -moz-transition: height 0.3s ease-in-out; -ms-transition: height 0.3s ease-in-out; transition: height 0.3s ease-in-out; }
.header_main .navigation_bar .nav_bar {margin: 0 0;}
.header_main .navigation_bar .nav_bar ul.menu {display: flex; align-items: center; justify-content: space-between;}
.header_main .navigation_bar .nav_bar ul.menu > li {position: relative;}
.header_main .navigation_bar .nav_bar ul.menu > li > a {font-size: 20px; line-height: 1.35; transition: all ease-in-out 0.3s; position: relative; font-weight:400; color: #FFFFFF;}
.header_main .navigation_bar .nav_bar ul.menu > li > a:after { content: ''; position: absolute; top: 100%; left: 0; width: 0; height: 3px; margin-top: 5px; background-color: #F39200; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* .header_main .navigation_bar .nav_bar ul.menu > li > a::after { position: absolute; content: ''; height: 3px; left: 0; bottom: -5px; background-color: #034F9B; transition: all ease-in-out 0.3s; width: 0;}  */
/* .header_main .navigation_bar .nav_bar ul.menu > li:hover > a::after {width: 100%;}  */
.menu-item-has-children > a .icon { position: absolute; top: 50%; right: -28px; display: -ms-flexbox; display: flex; padding: 0; -webkit-transition: -webkit-transform 0.3s ease-in-out; -moz-transition: -moz-transform 0.3s ease-in-out; -ms-transition: -ms-transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; margin-top: -3px;  }
.sub-menu li a { font-weight: 400; font-size: 18px; line-height: normal; display: inline-block; position: relative; color: #fff; }
.sub-menu li { width: 100%; position: relative; line-height: normal; padding: 7px 0 10px; }
.menu-item-has-children .sub-menu { background-color: #F39200; padding: 22px 28px 31px; border-radius: 0 0 20px 20px; }

.navigation_bar { display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.navigation_bar .nav_more { display: -ms-flexbox; display: flex; align-items: center; align-content: center; padding: 0 0 0 41px; }
.navigation_bar .nav_more .nav_btn { display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.navigation_bar .nav_more .nav_btn a { display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: center;  height: 52px; font-size: 18px; color: #fff; padding: 0 28px; border-radius: 50px; background-color: #F39200; text-transform: uppercase; line-height: normal; min-width: 137px; font-weight: 400; }
.navigation_bar .nav_more .nav_btn a:hover { background-color: #fff; color: #F39200; }
.navigation_bar .nav_more .nav_cnt { display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.navigation_bar .nav_more .nav_cnt .cnt_wrap { display: -ms-flexbox; display: flex; align-items: center; align-content: center; padding: 0 0 0 33px; }
.navigation_bar .nav_more .nav_cnt .cnt_wrap li { display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.navigation_bar .nav_more .nav_cnt .cnt_wrap li + li { margin-left: 7px; }
.navigation_bar .nav_more .nav_cnt .cnt_wrap li a { height: 52px; width: 52px; display: -ms-flexbox; display: flex; align-items: center;justify-content: center; background-color: #FFFFFF; border-radius: 50%; }
.navigation_bar .nav_more .nav_cnt .cnt_wrap li a:hover { background-color: #F39200; }

.menu-item-has-children { position: relative; }
@media (min-width: 992px){
	.hide-desktop { display: none !important; }
	.menu-item-has-children .sub-menu { position: absolute; top: 100%; left: -29px; width: 327px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; opacity: 0; visibility: hidden; display: block !important;  margin-top: 72px; }
	.menu-item-has-children:hover > .sub-menu { opacity: 1; visibility: visible; }
	.sub-menu li a:hover { color: #314462; }
	.sub-menu li { border-bottom: solid 1px rgba(255, 255, 255, 0.31); } 
	.header_main .navigation_bar .nav_bar ul.menu > li > a:before { content: ''; position: absolute; height: 72px; width: 100%; left: 0; top: 100%; opacity: 0; visibility: hidden; }
	.header_main .navigation_bar .nav_bar ul.menu > li:hover > a:before,
	.header_main .navigation_bar .nav_bar ul.menu > li > a:hover:before { opacity: 1; visibility: visible; }
	.header_main .navigation_bar .nav_bar ul.menu > li:hover > a:after ,
	.header_main .navigation_bar .nav_bar ul.menu > li > a:hover:after { width: 100%; }

	.header_main .navigation_bar .nav_bar ul.menu > li + li { margin-left: 42px; }

	.header_main.fixed .menu-item-has-children .sub-menu { margin-top: 43px; }
	.header_main.fixed .navigation_bar .nav_bar ul.menu > li > a:before { height: 44px; }


}


/*============ Header Style End ============*/

.btn_wrap { display: -ms-flexbox; display: flex; align-items: center; align-content: center; width: 100%; }
.btn_wrap .w3n_btn { display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: center; text-align: center; padding: 0 24px; background-color: #F39200; color: #fff; height: 48px; border-radius: 50px; text-transform: uppercase; font-size: 16px; font-weight: 400; }
.btn_wrap .w3n_btn:hover { background-color: #314462; }
.btn_wrap .w3n_btn.btn-blue { background-color: #314462; }
.btn_wrap .w3n_btn.btn-blue:hover { background-color: #F39200; }

/*============ Banner Style Start ============*/
.home-banner { width: 100%; position: relative;  min-height: calc(100vh - 175px); display: -ms-flexbox; display: flex; justify-content: center; align-items: flex-end; align-content: flex-end; }
.home_banner_image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; }
.home_banner_image::after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 263px; background: linear-gradient(to bottom,  rgba(0,0,224,0) 0%,rgba(0,0,0,1) 100%); opacity: 0.35; }
.home_banner_image img { width: 100%; height: 100%; object-fit: cover; }
.home_banner_inner { position: relative; z-index: 2; width: 100%; padding: 120px 0; }
.home_banner_dtl { width: 100%; position: relative; }
.home_banner_dtl .sub_heading { width: 100%; position: relative; font-size: 28px; line-height: 1.357142; color: #FFFFFF; -webkit-text-shadow: 0 0 10px rgb(0 0 0 / 50%); -moz-text-shadow: 0 0 10px rgb(0 0 0 / 50%); -ms-text-shadow: 0 0 10px rgb(0 0 0 / 50%); text-shadow: 0 0 10px rgb(0 0 0 / 50%); font-weight: 400; padding: 0 0 11px 0; }
.home_banner_dtl h1 { color: #fff; -moz-text-shadow: 0 0 10px rgb(0 0 0 / 50%); -ms-text-shadow: 0 0 10px rgb(0 0 0 / 50%); text-shadow: 0 0 10px rgb(0 0 0 / 50%); font-weight: 400; padding: 0 0 40px 0; }
.home_banner_dtl .btn_wrap .w3n_btn { height: 64px; font-size: 20px; padding: 0 30px; min-width: 300px; }



/*============ Banner Style End ============*/

/*============ Section Style start ============*/
.after_banner_sec { width: 100%; position: relative; padding: 104px 0 103px; }
.after_banner_inner { width: 100%; position: relative; text-align: center; max-width: 1000px; margin: 0 auto; }
.after_banner_inner h2 { color: #F39200; padding: 0 0 10px; }
.after_banner_inner p { max-width: 873px; margin: 0 auto; }

.news_main_content { width: calc((100vw - 1231px) / 2 + 1px + 100%); position: relative;z-index: 3; }
.swiper-slide {  }

.news_sec {width: 100%; position: relative; padding: 94px 0 108px 0; }
.news_sec .news_sec_inner { width: 100%; position: relative; }
.news_sec_top { position: relative; width: 100%; z-index: 2; max-width: calc(100% - 150px); }
.news_sec_top .news_title { position: relative; width: 100%; z-index: 2; padding: 0 140px 50px 0; }
.news_sec_shape { width: calc(((100vw - 1231px) / 2) + 100%); position: absolute; top: -94px; left: calc((-100vw + 1231px) / 2 - 15px); background-color: #314462; border-radius: 0 20px 20px 0; padding: 40px 78px 0 78px; height: auto; bottom: -201px; display: -ms-flexbox; display: flex; align-items: flex-end; }
.news_sec_shape img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
.news_title h2 { color: #fff; padding: 0 0 14px 0; }
.news_title p { color: #fff; }
.news_box { width: 100%; position: relative; }
.news_slider .swiper-slide { height: auto; display: -ms-flexbox; display: flex; }
.news_slider .news_box { display: -ms-flexbox;display: flex; -ms-flex-direction: column; flex-direction: column; position: relative; background-color: #fff; border-radius: 20px 0 20px 0; box-shadow: 0 0 12px rgba(0, 0, 0, 0.16); overflow: hidden; }
.news_box .news_box_img { width: 100%; position: relative; -ms-flex-positive: 0;flex-grow: 0;-ms-flex-negative: 0;flex-shrink: 0;-ms-flex-preferred-size: auto;flex-basis: auto;-ms-flex-item-align: start;align-self: flex-start; }
.news_box .news_box_img:after { content: ''; display: block; /*padding: 28.125% 50%;*/ height: 201px; }
.news_box .news_box_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.news_box .news_box_dtl { -ms-flex-positive: 1;flex-grow: 1;-ms-flex-negative: 1;flex-shrink: 1;-ms-flex-preferred-size: auto;flex-basis: auto; position: relative; padding: 38px 39px 106px; }
.news_box .news_box_dtl h5 { padding: 0 0 5px 0; }
.news_box .news_box_dtl h6 { padding: 0 0 14px 0; font-weight: 300; font-size: 16px; color: #314462; text-transform: none; }
.news_box .news_box_dtl p { line-height: 1.5; }
.news_box .news_box_dtl .btn_wrap { position: absolute; bottom: 44px; left: 39px; right: 39px; width: auto; }
.news_box .btn_wrap .w3n_btn { height: 46px; }
.news_slider_blk .swiper-scrollbar { width: 100%; left: 0; right: 0; position: relative; top: auto; bottom: auto; height: 15px; background-color: #F3F3F3; border-radius: 20px; border: solid 4px #F3F3F3; }
.news_slider_blk .swiper-scrollbar .swiper-scrollbar-drag { top: 0; height: 100%; background-color: #BFBFBF; }
.news_slider.swiper { padding:  0 0 54px 0; }
.news_slider_blk .swiper-button-next:after, 
.news_slider_blk .swiper-button-prev:after { display: none; }
.news_slider_blk .swiper-button-next, 
.news_slider_blk .swiper-button-prev { width: 75px; height: auto; font-size: 0; line-height: normal; top: 164px; margin: 0; }
.news_slider_blk .swiper-button-next.swiper-button-disabled, 
.news_slider_blk .swiper-button-prev.swiper-button-disabled { opacity: 0; }
.news_slider_blk .swiper-button-prev { left: -135px; }
.news_slider_blk .swiper-button-next { right: 30px; }

.news_slider_blk .news_slider .swiper-slide { width: calc(352px + 40px); padding: 0 20px; }
.news_slider_blk .news_slider { margin: 0 -20px; }


.listing_sec { width: 100%; position: relative; padding: 0 0 5px 0; }
.listing_inner { width: 100%; position: relative; }
.listing_box { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; align-items: center; align-content: center; }
.listing_box .listing_img { width: 50%; display: inline-block; vertical-align: top; font-size: 0; line-height: normal; } 
.listing_box .listing_dtl { width: 50%; padding: 91px 25px 90px 82px; position: relative;z-index: 3; } 
.listing_img_inner { position: relative; width: calc((100vw - 1231px) / 2 + 15px + 100% + 82px); float: right; margin-right: -82px; height: 632px; overflow: hidden; }
.listing_img_inner img { width: 100%; height: 100%; object-fit: cover; border-radius: 0 20px 0 0; }
.listing_box .listing_dtl::after { content: ''; position: absolute; top: 0; left: 0; width: calc((100vw - 1231px) / 2 + 15px + 100%); height: 100%; background-color: #E7EAEF; border-radius: 20px 0 0 0; z-index: -1; pointer-events: none; }
.listing_dtl h2 { padding: 0 0 11px 0; }
.listing_dtl .btn_wrap { padding: 33px 0 0 0; }

.support_by_sec { width: 100%; position: relative; padding: 102px 0 56px; }
.support_by_inner { width: 100%; position: relative; }
.support_by_inner > h5 { text-align: center; color: #314462; padding: 0 0 15px 0; }
.support_by_row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; position: relative; margin: 0 -21px; align-items: center; align-content: center; justify-content: center; }
.support_by_row .support_by_col { padding: 21px; display: -ms-flexbox; display: flex; }
.support_by_row .support_by_col .support_by_img_box { display: -ms-flexbox; display: flex; justify-content: center; max-width: 222px; max-height: 86px; }
.support_by_row .support_by_col .support_by_img_box img { width: auto; height: auto; max-width: 100%; max-height: 100%; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.5; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.support_by_row .support_by_col .support_by_img_box img:hover {-webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); filter: grayscale(0); opacity: 1;}

/*============ Section Style end ============*/

/* ========== Footer Start ================= */
.footer_main { width: 100%; position: relative; background-color: #314462; padding: 66px 0 32px; }
.footer_inner { width: 100%; position: relative; }
.footer_inner .f_top_part { width: 100%; position: relative; }
.footer_inner .f_top_part { width: 100%; position: relative; }
.footer_row { display: -ms-flexbox; display: flex; align-items: flex-end; justify-content: space-between; margin: 0 -15px; }
.footer_row .footer_col_left { width: calc(305px + 30px); padding: 0 15px; }
.footer_row .footer_center { padding: 0 15px; }
.footer_row .footer_right { width: calc(305px + 30px); padding: 0 15px; }
.footer_inner h6 { padding: 0 0 16px; color: #fff; font-size: 18px; line-height: 1.3333; font-weight: 500; text-transform: none; }
.tiletable_footer { width: 100%; position: relative; }
.tiletable_footer li { font-size: 18px; line-height: 1.55556; color: #fff; }
.tiletable_footer li a { color: #fff; }
.tiletable_footer li a:hover { color: #F39200; }

.f_logo { width: 100%; position: relative; text-align: center; font-size: 0; line-height: normal; }
.f_logo a { font-size: 0; line-height: normal; display: inline-block; }
.f_logo a img { height: 124px; width: auto; }
.after_footer_logo { width: 100%; position: relative; padding: 40px 0 0 0; }
.after_footer_logo p { font-size: 18px; font-weight: 300; color: #fff; line-height: 1.3333;  text-align: center; }
.after_footer_logo p a { color: #fff; }
.after_footer_logo p a:hover { color: #F39200; }
.after_footer_logo p + p { padding-top: 5px; }
.footer_right_row { display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.footer_right_row .footer_right_col { position: relative; width: auto; } 
.footer_right_row .f_social { display: -ms-flexbox; display: flex; margin: 0 -4px; } 
.footer_right_row .f_social li { padding: 4px; display: -ms-flexbox; display: flex; }
.footer_right_row .f_social li a { display: -ms-flexbox; display: flex; height: 44px; width: 44px; border-radius: 50%; border: solid 1px #fff; align-items: center; align-content: center; justify-content: center; }
.footer_right_row .f_social li a:hover { background-color: #F39200; border-color: #F39200; }
.footer_right_row .f_social li a img { height: auto; width: auto; max-height: 22px; }
.footer_right_link { display: -ms-flexbox; display: flex; padding: 0 0 0 20px; }
.footer_right_link a { font-weight: 500; color: #fff; font-size: 15px; line-height: 1.33333; display: inline-block; vertical-align: text-bottom; }
.footer_right_link a:hover { color: #F39200; }

.f_bottom_part { width: 100%; position: relative; padding: 75px 0 0 0; }
.f_bottom_part .f_bottom_row { width: 100%; position: relative; display: -ms-flexbox; display: flex; align-items: center; justify-content: space-between; }
.f_bottom_part .f_more_link { position: relative; display: -ms-flexbox; display: flex; align-items: center; margin: 0 -21px; }
.f_bottom_part .f_more_link li { padding: 0 21px; }
.f_bottom_part .f_more_link li a { font-size: 14px; font-weight: 300; line-height: 1.3571; color: #fff; opacity: 0.65; text-transform: uppercase; }
.f_bottom_part .f_more_link li a:hover { opacity: 1; color: #F39200; }
.website_by { display: -ms-flexbox; display: flex; align-items: center; align-content: center; font-size: 14px; font-weight: 300; line-height: 1.3571; color: rgba(255, 255, 255, 0.4);  }
.website_by a { display: -ms-flexbox; display: flex; margin: 0 0 0 7px; opacity: 0.4; }
.website_by a:hover { opacity: 1; }
.website_by a img { height: 18px; width: auto; }
/* ========== Footer End ================= */



/* Service Page Start */
.inner-banner { width: 100%; position: relative; }
.inner-banner .inner_banner_image { width: 100%; position: relative; height: 661px; }
.inner-banner .inner_banner_image img { width: 100%; height: 100%; object-fit: cover; }

.subpage-page .after_banner_sec { padding: 120px 0 94px; }

.blog_sec { width: 100%; position: relative; }
.blog_sec .blog_inner { width: 100%; position: relative; }
.blog_box { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }
.blog_box .blog_img { width: 50%; display: -ms-flexbox; display: flex; min-height: 528px; overflow: hidden; border-radius: 0 20px 0 0; }
.blog_box .blog_img img { width: 100%; height: 100%; object-fit: cover; }
.blog_box .blog_dtl { width: 50%; align-self: center; background-color: #E7EAEF; border-radius: 0 20px 0 0; padding: 43px 63px; }
.blog_box .blog_dtl h2 { padding: 0 0 30px 0; }
.blog_box .blog_dtl p + p { padding-top: 31px; }
.blog_box + .blog_box { margin-top: 94px; }
.blog_inner .blog_box:nth-child(even) { -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.blog_inner .blog_box:nth-child(even) .blog_dtl { border-radius: 20px 0 0 0; } 
.blog_box .blog_img .blog_img_inner { width: 100%; }

.gallery_sec { width: 100%; position: relative; padding: 94px 0 0 0; }
.gallery_sec .gallery_inner { width: 100%; position: relative; }
.gallery_sec .gallery_inner h2 { padding: 0 0 16px 0; }
.gallery_row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -14px; }
.gallery_row .gallery_col { width: 25%; padding: 14px; }
.gallery_box { display: block; position: relative;overflow: hidden; border-radius: 0 20px 0 0; }
.gallery_box:after { content: ''; display: block; padding: 37.69% 50%; }
.gallery_box > img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
a.gallery_box > img { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a.gallery_box:hover > img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

/* Service Page End */